body {
  padding: 5px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.nav-bar {
  position: relative;
  margin-bottom: 20px;
  background-color: #00b7ff;
  height: 30px;
}

.nav-bar a {
  color: white;
}
